h1,h2{
    font-size: x-large;
    font-weight: 5500px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(17, 155, 173);
}

h3{
    text-align: center;
    color: brown;
}

.xyz{
    text-align: center;
    display: inline-block;
    color: darkblue;
    width: 100%;
}

span{
    color: red;
    font-weight: 600;
    
}
.blog{
    background-color: rgba(197, 99, 88, 0.37);
    border-left: 2px solid black;
    border-radius: 10px;
    margin: 2px 0px;
    padding: 10px 20px;
    width: 30%;
    display: inline-block;

}
p{
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

#last{
    text-align: center;
    background-color: rgba(197, 99, 88, 0.37);
    border-left: 2px solid black;
    border-radius: 10px;
    margin-left: 29% ;
    padding: 10px 20px;
    width: 40%;
    display: inline-table;
}  