h1{
    font-size: x-large;
    font-weight: 5500px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(17, 155, 173);
}

small{
    text-align: center;
    font-weight: bolder;
}

span{
    color: red;
    font-weight: 600;
}
.blog{
    background-color: rgba(197, 99, 88, 0.37);
    border-left: 2px solid black;
    border-radius: 10px;
    margin: 2px 0px;
    padding: 10px 20px;
    width: 30%;
    display: inline-block;

}
p{
    text-align: justify;
}

#ask{
    align-content: center;
}